"*":
  "atom-beautify":
    yaml: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-text-editor":
    "alt-cmd-l": "formatter:format-code"
    "alt-ctrl-l": "formatter:format-code"
  autosave:
    enabled: true
  core:
    audioBeep: false
    customFileTypes:
      "source.hcl": [
        "tf.jinja2"
        "tf.tmpl"
        "tf.tpl"
      ]
      "source.yaml": [
        "yml.tmpl"
        "yaml.tmpl"
      ]
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
    preferredLineLength: 120
    showInvisibles: true
  "exception-reporting":
    userId: "4b7f5c28-3055-4628-a173-cc5341aa0c69"
  "go-plus":
    config: {}
    panel:
      focusOnFailure: false
    test:
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
      timeout: 0
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
